<!DOCTYPE html>
<html>
    <head>
        <title>Things I Think You Should Read</title>
    </head>
    <body>
        <h1>Things I Think You Should Read</h1>
        <p>
            This site will eventually publicly mirror my Instapaper account, 
            both backing up those exciting articles I might want to read
            again later, and providing a valuable service to you, dear
            reader.
        </p>
        <h2>Folders</h2>
        <ul>
            <li><a href="/folder/Programming/">Programming</a></li>
            <li><a href="/folder/Tech/">Tech</a></li>
            <li><a href="/folder/Politics/">Politics</a></li>
            <li><a href="/folder/Design/">Design</a></li>
            <li><a href="/folder/Writing/">Writing</a></li>
            <li><a href="/folder/Etc./">Etc.</a></li>
        </ul>
    </body>
</html>
