<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>Things You Should Read</title>
        <meta http-equiv="description" content="This is the personal site of Mike West, a philosophy student cleverly disguised as an experienced and successful web developer.">
        <link rel="stylesheet" href="http://static.mikewest.org/common.css" type="text/css" media="screen">

        <link rel="alternate" type="application/atom+xml" href="/folder/Starred/feed/" title="Atom feed of recent articles">

        <meta name="viewport" content="width=770">
    </head>
    <body>
        <div class="header">
            <ul>
                <li><h1><a href='/' rel="home">Things You Should Read</a></h1></li>
                <li><a href='/folder/Starred/feed/'>RSS Feed</a></li>
            </ul>
        </div>
        <div class="content">
            <div class="bio">
                <h2><a href="/">Things You Should Read</a></h2>
                <p>publicly mirrors my <a href="http://instapaper.com/">Instapaper</a> queue and folders, backing up those exciting articles I might want to read again while at the same time providing a valuable service to you, dear reader.</p>
                <p class="nav">At the moment, I&rsquo;m categorizing articles as relating to one of <a href="/folder/Programming/">Programming</a>, <a href="/folder/Design/">Design</a>, <a href="/folder/Tech/">Technology</a>, <a href="/folder/Politics/">Politics</a>, <a href="/folder/Writing/">Writing</a>, or <a href="/folder/Etc./">Everything Else</a>.  Enjoy!</p>
            </div>
        </div>
        <div class="footer">
            <p>
            The links on <a href="/">this site</a> are pulled hourly from my
            <a href="http://instapaper.com/">Instapaper</a> account.  Republishing it elsewhere really wouldn't make
            any sense, as there's no real content here, but if you're <em>terribly</em> keen, the lists are
            <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/" rel="license">licensed for non-commercial reuse</a>.
            Thanks for visiting! (Site's code is available <a href="http://github.com/mikewest/appengine-thingsyoushouldread/tree/master">on GitHub</a>)</p>
            <address><a href="http://mikewest.org/" class="fn">Mike West</a> - <a href='mailto:mike@mikewest.org' class="email">mike@mikewest.org</a></address>
        </div>
    </body>
</html>
